@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.serif');
    letter-spacing: 0.02em;
  }
}

@layer utilities {
  .task-row:hover .task-actions {
    opacity: 1;
  }
}
